{% extends 'base.html.twig' %}

{% block title %}Edit Recommandation{% endblock %}

{% block body %}
    <h1>Edit Recommandation</h1>

    {{ include('recommandation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recommandation_index') }}">back to list</a>

    {{ include('recommandation/_delete_form.html.twig') }}
{% endblock %}
