{% extends 'base.html.twig' %}

{% block title %}New Recommandation{% endblock %}

{% block body %}
    <h1>Create new Recommandation</h1>

    {{ include('recommandation/_form.html.twig') }}

    <a href="{{ path('app_recommandation_index') }}">back to list</a>
{% endblock %}
