<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav my-navbar">
            <li class="uk-active"><a href="{{  path('app_home') }}">Accueil</a></li>
            <li class="uk-parent"><a href=" {{ path('list_recommandation') }}">Recommandations</a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</nav>
